<div class="col-sm-12">
  <img src="http://www.namasteegreetings.com/templates/namaste/images/logo.png">  <br /> <br />


             Namaste! I am Vani Devi, the owner/founder of NamasteEgreetings.com. As a Yoga Instructor/Therapist, I like staying in touch with my students, clients, fellow yogi’s, and family. After years of making my own e-greetings, I decided to compile them and cre-ate more for everyone to share! I have searched out inspirational works by talented artists and proudly exhibit and incorporate them into our inspirational greetings.
			 <br /> <br />
			 
			 You are welcome to share anyone of our spiritual e-greetings or design your own by adding your artwork/photo, music, lyric, and you are welcome to incorporate a famous spiritual quote found in our library of spiritual quotes. We’ve made it easy for you to store your artwork/photos and favorite music.
You can easily upload your data base into your NamasteEgreetings.com address book. <b><i>Other perks of membership include: BIRTHDAY REMINDERS, CALENDAR, FAVORITES, CARD HISTORY, SCHEDULE TO SEND FEATURE, AND GROUP EMAILS. </b></i>
<br /> <br />

<a href="http://www.namasteegreetings.com/join-now.html">JOIN NOW</a> and become a NamasteEgreetings.com MEMBER today! <i><b>Only $19.99 per year give you will have access to an unlimited number of unique spiritual email greetings.</i></b> <br /> <br />
Om Shanti! Vani Devi <br /> <br />
<img src="http://www.namasteegreetings.com/templates/namaste/images/about-us-logo.png">
  

      
</div>