<div class="box_share">
	<div style="display:inline; text-align:center;">
		<div style="display: inline-block;">
			<img title="Twitter" src="{'ecard_url'}/templates/{'cf_set_template'}/images/share-medium.png" style="padding-right: 5px; padding-top: 5px; margin: 0px; background-color: transparent; display: inline-block; ">
			<a href="javascript:;" onclick="share_to_social('twitter');">
            <img title="Twitter" src="{'ecard_url'}/templates/{'cf_set_template'}/images/twitter.png" style="padding-right: 5px; padding-top: 5px; margin: 0px; background-color: transparent; display: inline-block; border: 0px none; outline: medium none; width: 24px; height: 24px; box-shadow: none; max-width: none; opacity: 1;" onmouseout="this.style.opacity=1;" onmouseover="this.style.opacity=0.8;"/></a>
			<a href="javascript:;" onclick="share_to_social('facebook');">
            <img title="Facebook" src="{'ecard_url'}/templates/{'cf_set_template'}/images/facebook.png" style="padding-right: 5px; padding-top: 5px; margin: 0px; background-color: transparent; display: inline-block; border: 0px none; outline: medium none; width: 24px; height: 24px; box-shadow: none; max-width: none; opacity: 1;" onmouseout="this.style.opacity=1;" onmouseover="this.style.opacity=0.8;"/></a>
			<a href="javascript:;" onclick="share_to_social('googleplus');">
            <img title="Google Plus" src="{'ecard_url'}/templates/{'cf_set_template'}/images/googleplus.png" style="padding-right: 5px; padding-top: 5px; margin: 0px; background-color: transparent; display: inline-block; border: 0px none; outline: medium none; width: 24px; height: 24px; box-shadow: none; max-width: none; opacity: 1;" onmouseout="this.style.opacity=1;" onmouseover="this.style.opacity=0.8;"/></a>
			<a href="javascript:;" onclick="share_to_social('linkedin');">
            <img title="Linkedin" src="{'ecard_url'}/templates/{'cf_set_template'}/images/linkedin.png" style="padding-right: 5px; padding-top: 5px; margin: 0px; background-color: transparent; display: inline-block; border: 0px none; outline: medium none; width: 24px; height: 24px; box-shadow: none; max-width: none; opacity: 1;" onmouseout="this.style.opacity=1;" onmouseover="this.style.opacity=0.8;"/></a>
		</div>
	</div>
</div>
