<div class="sendcard-boundary">
<div id="div_card_body" >
    <div id="card-body-left" class="card-body-left col-sm-7">    
        {'show_card_body'}
        <div id="show_edit_sendnow_toolbar_bottom" class="text-center elm-toggle-collapse h-space-t-25">
            <span onclick="EditCard();" class="btn btn-default btn-sm">
            <i class="fa fa-edit padding5"></i>{'sendcard_php_button_edit'}</span>
            <span onclick="SendToFriends();" class="btn btn-default btn-sm btn-my-site">
            <i class="fa fa-send padding5"></i>{'sendcard_php_button_send_now'}</span>
        </div>
    </div>
    <div id="card-body-right" class="card-body-right col-sm-5" style="position:static">
        <div class="only-desktopg">
            <h1 class="table_title_bar sendcard" id="title-1">Design eCard</h1>
            {'show_option_toolbar'}
            <!-----MESSAGE--------------->
            <div id="temp_hoteditor" class="h-space-b-15">
                    <style type='text/css'>@import url({'ecard_url'}/resource/cazaryMasterEditor/themes/flat/style.css);</style>			
                    <script language="JavaScript" type="text/javascript" src="{'ecard_url'}/resource/cazaryMasterEditor/cazary.min.js"></script>
                    <textarea id="id_cazary" placeholder="normal mode">{'cs_message'}</textarea>
                </div>
			<script type="text/javascript">
				$("textarea#id_cazary").cazary({
					commands: "ECARDMAX"
				});
				$(window).click(function(e) {
					get_hoteditor_data();
				});
				function get_hoteditor_data(){
					html_output = $('.cazary-edit').contents().find('body').html();
					$('#cs_message').html(html_output);
					$('#card_message').html(html_output);
				}
				function updateContent(){
					setTimeout(function(){
						get_hoteditor_data();
					},100);
				}
			</script>
            <!-----END------------------->
            {'show_change_next_step_fav_toolbar'}
            {'show_edit_send_card_toolbar'}
            <div class="clearfix"></div>
        </div>
        <!---BOX COMMENT---------------------------------->
         <div class="h-space-t-25" id="div_card_user_comment">
         <h1 class="table_title_bar sendcard" id="title-2">eCard detail</h1>
         <!---BOX SHARE SOCIAL-------------->
         {'box_share'}
         <!---END---->
         <!-------MOVE FROM TOOLBAR--------->
        <div class="dropdown">
            <a class="btn btn-default btn-sm" href="#" data-toggle='dropdown'>
            <i class="fa fa-search-plus padding5"></i>{'show_card_body_more_card'}</a>
            <ul id="div_show_more_ecard" class="dropdown-menu">
                <li><a href="{'url_go_to_category'}"><i class="fa fa-step-forward padding5"></i>{'goto_category_name'}</a></li>
                <li><a href="{'url_popular'}"><i class="fa fa-globe padding5"></i>{'show_card_body_goto_popular'}</a></li>
                <li><a href="{'url_top_rate'}"><i class="fa fa-star padding5"></i>{'show_card_body_goto_toprated'}</a></li>
                <li><a href="{'url_new_ecards'}"><i class="fa fa-flag padding5"></i>{'show_card_body_goto_newest'}</a></li>
                <li><a href="{'url_home'}"><i class="fa fa-home padding5"></i>{'show_card_body_goto_homepage'}</a></li>
            </ul>
            <a class="btn btn-default btn-sm" href="javascript:;" onclick="showModalCardInfo();">
            <i class="fa fa-list-alt padding5"></i>{'sendcard_php_button_card_info'}</a> 
            {'button_add_to_fav'}
        </div>
        <!-------END--------------------->
        {'show_user_comment'}
        </div>
        <!---END------------------------------------------>    
    </div>     
</div>       
{'show_personalize_table'}
</div>
<style>
.cazary{	
	width:100% !important;
	border:1px solid #CCC !important;
}
iframe.cazary-edit{
	height:120px !important;
}
.cazary-panel{
	z-index:99999999;
}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
