<div class="col-sm-{'item_width'} card-item {'clearfix'}">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {'show_rate_card'}                                    	
                <a href="{'url_invitation_send'}">
                <img class="thumbnail_image" alt="{'show_invitation_caption'}" src="{'invitation_thumbnail_url'}" id="thumb{'invitation_id'}" />  
                </a>
                <div class="top_box_thumb_tool">
                {'show_preview_fullsize_icon'} 
                {'show_goto_category_icon'} 
                {'show_free_or_member_card_icon'} 
                </div>
                <p>{'show_invitation_caption'}</p>
                {'show_price'}
                
            </div>
            {'show_new_icon'} 
        </div>
        
    </div>
</div>