<div class="panel panel-default">
    <div class="panel-heading">{'fieldset_acct_balance_after_send_ppc_card'}</div>
    <div class="panel-body">   
        <div class="form-group">
            <div class="col-sm-6">
                <h5>{'txt_current_acct_balance'} <span class="badge">{'get_user_balance'}</span></h5>
                <h5>{'txt_ppc_amount'} <span class="badge">{'get_ppc_amount'}</span></h5>
            </div>
            <div class="col-sm-6">
                <h5>{'txt_new_acct_balance'} <span class="badge">{'new_balance'}</span></h5>
            </div>
        </div>
    </div>
</div>