<h2 id="title-1" class="table_title_bar">{'pickup_your_ecard'}</h2>
<div class="row nopadding">
	<form method="POST" class="form-horizontal" action="index.php">
	<input type="hidden" name="step" value="{'step'}" />		
		<div class="col-md-12 ">
        <div class="col-sm-12">
        <div class="form-group first-child">
        	{'show_info'}
        </div>
        
        <div class="form-group input-group">			
            <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
            <input placeholder="{'enter_card_id_number'}" class="form-control input-sm" type="text" name="cs_id"  value="{'cs_id'}" /></div>	
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-my-site btn-sm" >{'button_view_card'}	</button>	
        </div>
        </div>
        </div>				
	</form>
</div>