<h1 id="title-1" class="table_title_bar">{'sendcard_thankyou_page_title'}</h1>
<table width="100%">
	<tr>
		<td valign="top" width="1%" style="padding:7px" align="left">{'show_card_thumbnail'}</td>
		<td valign="top" style="padding:7px" align="left">
			<div style="padding: 5px; font-size: 10pt; font-weight: bold;">{'show_card_title'}</div><br />
			<div style="padding:5px"><a href="{'ecard_url'}/index.php?step=sendcard&ec_id={'ec_id'}&resend=1" class="button_link_style1">{'show_card_has_been_sent_button_send_to_someone_else'}</a></div>
            <div style="padding:5px"><a href="{'ecard_url'}/index.php" class="button_link_style2">{'show_card_has_been_sent_button_send_another_ecard'}</a></div><br />
		</td>
	</tr>
</table>
<hr class="HR_Color" />
<div style="padding: 5px; font-size: 11pt; font-weight: bold; text-align: left;">{'sendcard_thankyou_msg'}</div>
<div style="padding: 5px; font-size: 10pt; font-weight: bold; text-align: left;">{'sendcard_txt_card_has_been_send_to'}</div>
{'show_list_email'}
