<div class="list-group only-desktop">
    <a href="#" class="list-group-item active">
    	{'default_group'}
    </a>
    {'show_contact'}{'show_contact_group'}
</div>

<!-------MODAL ADDRESS BOOK--------->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModalAddressBook" class="modal fade">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{'default_group'}</h4>
          </div>
          <div class="modal-body">
              {'show_contact'}{'show_contact_group'}        
          </div>
          
      </div>
  </div>
</div>
<!-------END------------------------>