<script type="text/javascript" src="{'ecard_url'}/templates/{'cf_set_template'}/js/coin-slider/coin-slider.min.js"></script>
<script>$(document).ready(function() {
	$('#games').coinslider({ hoverPause: false,width:"{'cf_slider_width'}",height:"{'cf_slider_height'}" });
});
</script>
<style>
.slider_banner{ margin:auto; float:none}
#games { margin: auto}
.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }
.cs-buttons { display:none; font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { display:none; margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }
.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }
.cs-prev,.cs-next { color: #FFFFFF; font-size:36px }
.cs-prev:before,.cs-next:before { content:"\f053"; font-family:FontAwesome; }
.cs-prev{}
.cs-next:before {content:"\f054";}
</style>

<section class="only-desktop" id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="slider_banner" style="width:{'cf_slider_width'}px">
                    <div id="games">
                    {'banner_img'}	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
