<div class="col-sm-12">
	
    <div class="left-sidebar"><h2>Help / Support</h2></div>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
        	<li class="active" ><a href="{'ecard_url'}/index.php?step=policy" >Help / Support</a> </li>
            <li ><a href="{'ecard_url'}/index.php?step=policy" >Privacy Policy</a> </li>
            <li ><a href="{'ecard_url'}/index.php?step=tos" >Term of Service</a></li>
            <li ><a href="{'ecard_url'}/index.php?step=feedback" >Ask Questions / Send Feedback</a></li>
        </ol>
	</div>

	<div class="panel panel-default">
  	<div class="panel-heading">Joining</div>
  	<div class="panel-body">
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a1');">Why would I become a member of {'cf_site_title'}?</div>
		<div class="table_border" style="padding:7px;display:none" id="a1">
			Because as a {'cf_site_title'} member you can quickly get reminders of your friends' and family's birthdays, anniversaries. You will never forget a birthday again. Membership includes the following exclusive benefits:
			<ul>
				<li>Unlimited access to many ecards</li>
				<li><strong>My Account</strong> - Edit your membership information including e-mail address, password, and 2 free accounts.</li>
				<li><strong>Address Book</strong> - Store all your friends' e-mail addresses, so sending ecard will be quick and easy.</li>
				<li><strong>Calendar</strong> - Plan ahead by accessing your Calendar, where you can add birthdays, and other special days and appointments. Click on that day, and it will link you to that section. (Birthdays, Holidays, etc.)</li>
				<li><strong>Reminders</strong> - Store all your important dates so birthdays, anniversaries and other special events will never be forgotten, through our Reminder Notification e-mails and cell phone.</li>
				<li><strong>My Favorites</strong> - Store all your favorite cards in 1 convenient location for easy access</li>
				<li><strong>Card History</strong> - View all cards sent in the past 30 days, with option to cancel/re-send cards that have not been delivered yet.</li>
				<li><strong>My Album</strong> - A place where you can upload your own photos, music, poems, stamps, fonts. Use this feature if you want to send your own photo as an ecard or send an ecard with your voice in it. </li>
				<li><strong>Birthday Alert</strong> - Set birthday alerts by asking each of your friends to enter their birthday. Their birthday information will be saved to your Address Book and you will receive an email reminder when your friend's birthday is near</li>
			</ul>
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a2');">How do I become a member of {'cf_site_title'}?</div>
		<div class="table_border" style="padding:7px;display:none" id="a2">
			Please <a href="{'ecard_url'}/index.php?step=join_now">click here</a> to create your new account then you can access to member ecards and member benefits.
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a3');">Is {'cf_site_title'} Free?</div>
		<div class="table_border" style="padding:7px;display:none" id="a3">
			Membership and use of {'cf_site_title'} reminders is free. We charge for premium greeting cards.
		</div>
	</div>
    </div>
    <div class="panel panel-default">
  	<div class="panel-heading">Existing Members</div>
  	<div class="panel-body">
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a4');">How do I change my email address?</div>
		<div class="table_border" style="padding:7px;display:none" id="a4">
			You can change your email address by doing the following:
			<ul>
				<li><a href="{'ecard_url'}/index.php?step=sign_in">Click here</a> to sign in, enter your user name id and password.</li>
				<li>Click Member tool <strong>My Account</strong> link</li>
				<li>On your 'My Account' page find text box <strong>User email address</strong> and enter your new email address.</li>
				<li>Our system will auto save your new email to database right after you enter new email and click outside the text box</li>
			</ul>
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a5');">How do I change my password?</div>
		<div class="table_border" style="padding:7px;display:none" id="a5">
			You can change your password by doing the following:
			<ul>
				<li><a href="{'ecard_url'}/index.php?step=sign_in">Click here</a> to sign in, enter your user name id and your current password.</li>
				<li>Click Member tool <strong>My Account</strong> link</li>
				<li>On your 'My Account' page find and click button <strong>Change Password</strong></li>
			</ul>
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a6');">I have lost my password. What can I do?</div>
		<div class="table_border" style="padding:7px;display:none" id="a6">
			You can get your password by doing the following:
			<ul>
				<li><a href="{'ecard_url'}/index.php?step=sign_in">Click here</a> to go to sign in page</li>
				<li>On page 'Login' look for icon <img border="" alt="" src="{'ecard_url'}/templates/{'cf_set_template'}/icon_member_resend_pass.gif" style="vertical-align:middle" /></li>
				<li>Enter your email to the text box and click <strong>Send Password</strong> button </li>
			</ul>
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a7');">How do I cancel my {'cf_site_title'} membership?</div>
		<div class="table_border" style="padding:7px;display:none" id="a7">
			You can cancel your membership by doing the following:
			<ul>
				<li><a href="{'ecard_url'}/index.php?step=sign_in">Click here</a> to sign in, enter your user name id and password.</li>
				<li>Click Member tool <strong>My Account</strong> link</li>
				<li>On your 'My Account' page, under tab <strong>Financial Information</strong> find and click button <strong>Delete Account</strong></li>
				<li>If your account is a <strong>Free Basic Membership</strong>, then system will delete your account right away</li>
				<li>If your account is a <strong>Paid Account</strong>, then you have to wait for admin to receive your request. Admin will cancel your subscription and he/she might down grade your <strong>Paid Account</strong> to <strong>Free Basic Membership</strong>. When your account becomes a <strong>Free Basic Membership</strong>, you can delete it</li>
			</ul>
		</div>
	</div>
    </div>
    <div class="panel panel-default">
  	<div class="panel-heading">Greeting cards</div>
  	<div class="panel-body">
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a8');">I cannot view the eCard</div>
		<div class="table_border" style="padding:7px;display:none" id="a8">
			Many of our interactive greetings use an enhanced animation called Flash. To view these greetings, you will need to have a Flash plug-in. Please make sure you have a current version of 8.0 or higher.<br /><br />
			You can download the Adobe Flash Player for FREE by <a target="_blank" href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">clicking here</a>.<br /><br />
			After installation is complete, please go to the link provided in your original email. The greeting will automatically play from this point.<br /><br />
			Some other ecards used java applet. You might need java plug-in as well. <a target="_blank" href="http://java.com/en/download/index.jsp">Click here</a> to download Java software.
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a9');">How do I view/delete a greeting I have sent or scheduled to be sent?</div>
		<div class="table_border" style="padding:7px;display:none" id="a9">
			You can change your password by doing the following:
			<ul>
				<li><a href="{'ecard_url'}/index.php?step=sign_in">Click here</a> to sign in, enter your user name id and your password.</li>
				<li>Click Member tool <strong>History</strong> link</li>
				<li>This will list cards you have already written. If the card is not yet picked up, you can re-send it by clicking the icon <img border="0" alt="" src="{'ecard_url'}/templates/{'cf_set_template'}/icon_resent_card.gif" style="vertical-align:middle" />. </li>
				<li>Click icon <img border="0" alt="" src="{'ecard_url'}/templates/{'cf_set_template'}/icon_arrow.gif" style="vertical-align:middle" /> to view card </li>
				<li>Click icon <img border="0" alt="" src="{'ecard_url'}/templates/{'cf_set_template'}/icon_delete.gif" style="vertical-align:middle" /> to delete the card</li>
			</ul>
		</div>
		
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a10');">How do I send a greeting card?</div>
		<div class="table_border" style="padding:7px;display:none" id="a10">
			Below is what you need to do:
			<ul>
				<li><a href="{'ecard_url'}/index.php">Click here</a> to go to ecard homepage to browse ecard categories</li>
				<li>Click on the card thumbnail you like to go to step 1.</li>
				<li>Step 1 will let you view card full size with options allow you to add Image Effects (Java applet), change Skin background, change stamp icon, add music, poem... </li>
				<li>If you would like to put this card to your favorites place, click <strong>Add to favorite</strong> button</li>
				<li>If you want to choose another ecard, click <strong>More cards</strong> button</li>
				<li>Click <strong>Continue Next Step</strong> button to personalize your card</li>
				<li>Then enter the details asked for such as the recipient's name and email address and card message.</li>
				<li>To see what your card will look like to your friend click the <strong>PREVIEW</strong> button. When you are happy with your card click the <strong>SEND NOW</strong> button to send the card to your friend.</li>
			</ul>
		</div>
	
	<div style="line-height:7px"></div>
	<div style="text-align:left;font-weight:bold;cursor:pointer" class="home_cat_nav" onclick="showid('a11');">How to pickup a card?</div>
		<div class="table_border" style="padding:7px;display:none" id="a11">
			<ul>
				<li>You will receive an e-mail stating that someone has sent you an ecard. In the e-mail message, there should be a web page link (URL) which you can click on to automatically receive your card.</li>
				<li>Or you can copy and enter the Card Number provided with the email on our card pick-up page at: <a href="{'ecard_url'}/index.php?step=pickup">{'ecard_url'}/index.php?step=pickup</a></li>
			</ul>
		</div>
        </div>
	</div>
</div>