<div class="col-sm-12">
<div class="panel panel-default">
  <div class="panel-heading">Term Of Service</div>
  <div class="panel-body">
              <p align="justify">This is a free 
              service intended to facilitate electronic communication for 
              everyone use. <br>
              <br>
              Using the free services provided on this web site will constitute 
              acceptance with the following terms and conditions. If you do not 
              agree, please stop using this service. <br>
              <br>
              You are entirely responsible and liable for all activities 
              conducted through your usage of our services. {'cf_site_title'} shall 
              not be responsible for any content on greeting cards that you 
              created at our web site. <br>
              <br>
              Sending anonymous cards or cards with fake sender email addresses 
              is not allowed. <br>
              <br>
              You agree not to send greeting cards with content that is 
              threatening, embarrassing, abusive, harassing, obscene, hateful or 
              otherwise inappropriate. Your IP number will be sent with your 
              greeting card. If this card gets the subject of an investigation 
              your Internet Provider may be forced to reveal your identity!
              {'cf_site_title'} shall have the right, but not the responsibility, to 
              remove greeting cards which are deemed in our sole discretion in 
              violation of this agreement.<br>
              <br>
              You also agree not to add any copyrighted images, music, wording 
              or other content to your greeting card unless you obtained the 
              copyright owner's permission.<br>
              <br>
              {'cf_site_title'} takes your privacy very seriously. We protect the 
              privacy of all information that we receive while you surf our web 
              site. This can be individually identifiable information (like your 
              email address) or any other information that your web browser and 
              Internet Service Provider send along with your online page 
              requests. As a supporter of the Coalition Against Unsolicited 
              email (CAUCE), we strongly disapprove of spamming:<br>
              <br>
              Individuals, organizations and businesses may not use this service 
              to send email to people or other entities on mailing lists and 
              usenet news groups that they do not have full rights to use, nor 
              send email to people or other entities with whom they are not 
              acquainted. Sending multiple emails with advertising content is 
              considered abuse of this service (&quot;spam&quot;) and we'll take 
              appropriate measures to exclude users deliberately violating this 
              rule.<br>
              <br>
              We do not make our website user's email addresses available to 
              anyone! <br>
              <br>
              Since this is a free service, our web pages and email may contain 
              advertisements. We will not accept any advertisements from 
              entities whose products or offers we determine to be offensive or 
              inappropriate. For instance, we do not allow ads from sites with 
              adult content, or sites which contain links to adult content. <br>
              <br>
              ALL USERS EXPRESSLY AGREE TO UTILIZE THIS SERVICES AT THEIR OWN 
              RISK. ALTHOUGH WE ALWAYS TRY TO PROVIDE A HIGH STANDARD OF 
              QUALITY, WE CANNOT MAKE ANY GUARANTEES CONCERNING THE PERMANENT 
              AVAILABILITY, FAULTLESS FUNCTIONING, OR TIMELINESS OF OUR 
              SERVICES. {'cf_site_title'} SHALL NOT BE RESPONSIBLE TO YOU FOR ANY 
              CONTENT FOUND ON OUR WEB SITE OR ON ANY GREETING CARDS SENT USING 
              THIS SERVICE. <br>
              <br>
              THIS SERVICE, ITS OWNERS, PROGRAMMERS, ADMINISTRATORS, PARTNERS 
              AND SPONSORS CANNOT WARRANT THE PERFORMANCE OR RESULTS YOU MAY 
              OBTAIN BY USING THIS WEB SITE. IN PARTICULAR, THEY MAKE NO 
              WARRANTIES, EXPRESSED OR IMPLIED, AS TO NONINFRINGEMENT OF THIRD 
              PARTY RIGHTS, MERCHANTABILITY, OR FITNESS FOR ANY PARTICULAR 
              PURPOSE. IN NO EVENT WILL THEY BE LIABLE TO YOU FOR ANY 
              CONSEQUENTIAL, INCIDENTAL OR SPECIAL DAMAGES, INCLUDING ANY LOST 
              PROFITS, LOST SAVINGS OR LOSS OF INFORMATION RESULTING FROM THE 
              USE OF THIS SERVICE, EVEN IF ONE OF THEIR REPRESENTATIVES HAS BEEN 
              ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY CLAIM BY 
              ANY THIRD PARTY. <br>
              <br>
              This Website may contain materials protected by law, including but 
              not limited to copyrights and trademarks. The copyrights of the 
              images, sounds and other materials on this Web site are owned by 
              either by {'cf_site_title'} or by the individual photographers, 
              composers and artists who have authorized their use on this 
              website. It is illegal to reproduce photographs taken by a 
              professional photographer or other copyrighted material without 
              the permission of the copyright owner. As with any image, your 
              possession of a copy of a digitized image does not give you any 
              rights to use it as you wish. The copyright of an image or sound 
              is generally owned by the photographer/composer/artist and only 
              the copyright owner, or the owner's legal agent, can give you 
              permission to copy, distribute, change or publish it. <br>
              <br>
              We reserve the right to alter this agreement at any time.</p>
              <p align="justify"></p>
              </div>
              </div>
              </div>
</div>