<!-- BEGIN sendcard_invite.php -->
{'show_ppc_message'}
<div id="show_change_next_step_fav_toolbar" class="h-space-t-15 text-center">
<div class="dropdown single-button-inline" style="display:inline">
	<a class="btn btn-default btn-sm dropdown" href="#" data-toggle="dropdown">
    <i class="fa fa-search-plus padding5"></i>{'show_card_body_more_card'}</a>
    <ul id="div_show_more_ecard" class="dropdown-menu">
        <li><a href="{'url_go_to_category'}"><i class="fa fa-step-forward padding5"></i>{'show_card_body_goto_category_name'} <strong>{'get_cat_name'}</strong></a></li>
        <li><a href="{'url_popular'}"><i class="fa fa-globe padding5"></i>{'show_card_body_goto_popular'}</a></li>
        <li><a href="{'url_top_rate_invite'}"><i class="fa fa-star padding5"></i>{'show_card_body_goto_toprated'}</a></li>
        <li><a href="{'url_new_ecards_invite'}"><i class="fa fa-flag padding5"></i>{'show_card_body_goto_newest'}</a></li>
        <li><a href="{'url_invitation_home'}"><i class="fa fa-home padding5"></i>{'show_card_body_goto_homepage'}</a></li>
    </ul>
    </div>
    {'button_add_to_fav'}
    {'button_next_step'}
    <div class="clearall"></div>

</div>

<!-- END sendcard_invite.php -->