	<!-- Start Column show quote, random card... -->
    <div class="col-sm-3 only-desktop">
        <div class="left-sidebar">
        <!--h2>{'txt_ecard_category'}</h2-->
	
        <!-- <div class="category_border"> -->
            {'CATEGORY_2_LEVEL'}  
            {'print_holiday_events_left'}          
            <div class="shipping text-center"><!--shipping-->
            	<div id="banner_vt">{'print_banner_vt'}</div>               
            </div>
        <!-- </div> -->
        </div>
     </div>
	<!-- Start Column show thumbnail / page number -->
	<div id="main_wrapper" class="col-sm-{'col_main_content'}" >
    		{'display_title_thumbnail'}
			{'display_thumbnail'}
			{'display_page_number'}
	</div>
	<!-- End Column show quote, random card... -->