<!-- set number of item later--->
<div class="col-sm-{'item_width'} card-item {'clearfix'}">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {'show_rate_card'}                                    	
                {'show_thumbnail'} 
                {'show_thumb_toolbar'} 
                <p>{'ec_caption'}</p>
                {'show_price'}
                
            </div>
            {'show_new_icon'} 
        </div>
        
    </div>
</div>