<div style="padding: 0 15px;">
<div class="intro">
       <h2> Welcome to NamasteEgreetings.com!</h2>
		Share our artful designs of spiritual e-cards or easily create your own!
</div>

		{'show_yoga_cards_table'}
		{'show_spiritual_cards_table'}
		{'show_native_cards_table'}
		

<div id="welcome">			
Namaste! Welcome to NamasteEgreetings.com. This site provides you with unique spiritual greetings set on original artwork. Each e-greeting is carefully designed for your use. We’ve made your e-card search easy! Simply choose from YOGA, SPIRITUAL, and NATIVE AMERICAN designs. If you like one of our artist’s work, you can choose to find a spiritual greeting BY ARTIST.<br /><br />
NamasteEgreetings.com has made it easy for you to CREATE YOUR OWN e-card by inserting your own art or photos, your own music, and writing your own message or using a famous spiritual quote that is easily found in our extensive LIBRARY OF SPIRITUAL QUOTES.<br /><br />
Thank you for visiting NamasteEgreetings.com. Om Shanti!	<br />		
 </div>        
</div>
